<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--    <uses-permission android:name="android.permission.CALL_PHONE" />-->


    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="DataExtractionRules,GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity
            android:name="com.iqcent.pro.activity.DrawerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity,RedundantLabel">

        </activity>
        <activity
            android:name="com.iqcent.pro.AboutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:noHistory="true"
            android:parentActivityName="com.iqcent.pro.activity.DrawerActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,UnusedAttribute" />
        <activity
            android:name="com.iqcent.pro.ContactActivity"
            android:noHistory="true"
            android:parentActivityName="com.iqcent.pro.activity.DrawerActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,UnusedAttribute" />

        <activity
            android:name="com.iqcent.pro.SplashScreenActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <!--<meta-data-->
        <!--android:name="com.google.android.gms.ads.APPLICATION_ID"-->
        <!--android:value="ca-app-pub-3940256099942544~3347511713" />-->
    </application>

</manifest>