<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stalpro.dashboard.admin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- permissions for push notifications, uncomment if you want to use push notifications -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.stalpro.dashboard.admin.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="DataExtractionRules,GoogleAppIndexingWarning"
        tools:targetApi="m">


        <!--        android:noHistory="true"-->

        <activity
            android:name="com.stalpro.dashboard.admin.activity.CordovaSplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stalpro.dashboard.admin.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity,RedundantLabel">

        </activity>



        <activity
            android:name="com.stalpro.dashboard.admin.activity.ContactActivity"
            android:noHistory="true"
            android:parentActivityName="com.stalpro.dashboard.admin.activity.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,UnusedAttribute" />
        <activity
            android:name="com.stalpro.dashboard.admin.activity.WebViewActivity"
            android:exported="true"
            android:noHistory="true"
            android:parentActivityName="com.stalpro.dashboard.admin.activity.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,UnusedAttribute" />

    </application>

</manifest>